*.cache

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# -----------------------

# 自動生成
/*/@Assets/package.xml
/*/@Assets/preview.jpg
/dev-items/debug-dll
# 生成処理を使う場合は ModHelp が本体
/*/@Assets/LangMod/*/Text/Help/

# 開発者用
/Plugin.dev.json
/Directory.Build.props.dev.xml
/Directory.Build.targets.dev.xml

# 何や色々
TestResult/
TestResults/
*.lnk
git-shell.bat

